@page { size: auto ; margin: 0;}
@media print { html,body { width: 6.7in; }}
html { background: #eee; }
body { height: 100%; width: 100%; margin: 0;}
.mycard {width: 6.7in; position: relative; background: #fff;}
.nama {position: absolute; left: 33px; top: 142px; width: 450px; padding: 0px; text-align:left; color:black; font-weight:bold; font-size:25px;}
.nocustomer { position: absolute; left: 33px; top: 170px; width: 400px; padding: 0px; text-align:left; color:black; font-weight:bold; font-size:25px;}
.barcode{position: absolute;  left: 33px; top: 215px;}